<nav class="p-5 h-screen">
  <div class="flex items-center mb-5">
    <a href="/">
      <img src="/assets/images/swift-ste.png" class="w-12 h-12 mr-3">
      <h1 class="text-4xl font-medium">SwiftSte</h1>
    </a>
  </div>
  <p>I am an experienced full stack web developer, documenting the process of learning Swift to build native apps for Apple platforms.</p>
  <ul class="mt-4">
    <li><span class="text-secondary">Twitter:</span> <a class="text-link" href="#">@swiftste</a></li>
    <li><span class="text-secondary">Github:</span> <a class="text-link" href="#">SwiftSte</a></li>
  </ul>
</nav>
